/* menu della pagina */

.darkblue {
    background-color: #2C3E50;
    height: 80px;
}

.head-menu {
    height: 60px;
    line-height: 80px;
    vertical-align: middle;
    background-color: yellow;
}

/* jumbo */

.jumbo {
    min-height: 100px;
    background-color: #1ABC9C;
}

.immagine {
    height: 200px;
    background-color: tomato;
    margin-top: 50px;
}

.titolo-start {
    margin-top: 15px;
    height: 40px;
    background-color: violet;
}

.stellina-righe {
    margin-top: 20px;
    height: 40px;
    background-color: rebeccapurple;
}

.lista {
    background-color: saddlebrown;
    height: 40px;
    margin: 30px 0;
}

/* parte principale con immagini */

.titolo-main {
    background-color: yellowgreen;
    height: 40px;
    margin: 30px 0;
}

.stella-main {
    height: 40px;
    background-color: red;
    margin-bottom: 10px;
}

.immagine-main {
    height: 150px;
    border-radius: 20px;
    margin-bottom: 10px;
}

#immagine-1 {
    background-color: #BA4B63;
}

#immagine-2 {
    background-color: #1EA4B6;
}

#immagine-3 {
    background-color: #140F0F;
}

#immagine-4 {
    background-color: #1C83C1;
}

#immagine-5 {
    background-color: #0E38B5;
}

#immagine-6 {
    background-color: #CCB2A3;
}