/* menu della pagina */

.darkblue {
    background-color: #2C3E50;
    height: 80px;
}

.titolo-menu h2 {
    line-height: 80px;
    vertical-align: middle;
    font-size: 20px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.navbar>.container {
    justify-content: flex-end;
}

.navbar-background {
    background-color: #2C3E50;
}

.navbar-toggler {
    align-self: flex-end;
}

.navbar-light .navbar-toggler {
    color: #93918F;
    border-color: #DCDCDC;
    margin-top: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

.dropdown-toggle::after {
    display: none;
}

/* jumbo */

.jumbo {
    min-height: 100px;
    background-color: #1ABC9C;
}

.immagine img {
    max-width: 100%;
    margin-top: 40px;
}

.titolo-start h2 {
    font-size: 40px;
    color: white;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
}

.stellina-righe {
    margin-top: 20px;
    height: 40px;
    background-color: rebeccapurple;
}

.lista {
    background-color: saddlebrown;
    height: 40px;
    margin: 30px 5px;
}

/* parte principale con immagini */

.titolo-main {
    background-color: yellowgreen;
    height: 40px;
    margin: 30px 0;
}

.stella-main {
    height: 40px;
    background-color: red;
    margin-bottom: 10px;
}

.immagine-main {
    height: 150px;
    border-radius: 20px;
    margin-bottom: 10px;
}

#immagine-1 {
    background-color: #BA4B63;
}

#immagine-2 {
    background-color: #1EA4B6;
}

#immagine-3 {
    background-color: #140F0F;
}

#immagine-4 {
    background-color: #1C83C1;
}

#immagine-5 {
    background-color: #0E38B5;
}

#immagine-6 {
    background-color: #CCB2A3;
}

/* parte verde inferiore */

.green {
    min-height: 100px;
    background-color: #1ABC9C;
}

.titolo-green {
    background-color: yellowgreen;
    height: 40px;
    margin: 30px 0;
}

.stella-green {
    height: 40px;
    background-color: red;
    margin-bottom: 10px;
}

.paragrafo {
    background-color: purple;
    min-height: 200px;
    margin-bottom: 15px;
}

.bottone {
    height: 40px;
    margin: 20px;
    background-color: royalblue;
}

/* sezione contatti */

.titolo-contatti {
    background-color: blue;
    height: 40px;
    margin: 25px 0;
}

.stella-contatti {
    height: 40px;
    background-color: blueviolet;
    margin-bottom: 10px;
}

.contatti {
    background-color: chartreuse;
    height: 50px;
    margin-top: 10px;
}

.bordo {
    border-top: 2px solid #D1D1D1;
}

.bottone-contatti {
    margin-top: 100px;
    border-top: 2px solid #D1D1D1;
}

.bottone-contatti button {
    background-color: #1ABC9C;
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    margin-top: 10px;
}

/* footer superiore */

.footer-superiore {
    background-color: #3A546D;
    min-height: 150px;
    margin-top: 20px;
    align-content: center;
}

.location {
    background-color: aqua;
    height: 50px;
    margin-top: 20px;
}

.icone {
    background-color: darkgoldenrod;
    height: 50px;
    margin-top: 20px;
}

.about {
    height: 50px;
    background-color: darkgreen;
    margin-top: 20px;
}

/* footer inferiore */

.footer-inferiore {
    height: 70px;
    background-color: #2C3E50;
}

.copyright {
    height: 30px;
    background-color: darkseagreen;
    margin-top: 20px;
}

.prova {
    height: 50px;
    background-color: darkslateblue;
}